body {
    background-attachment: fixed;
    background-image: url(bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
input{
    margin-left: 70px;
    border-radius: 5px;
    border: 2px solid rgb(248, 2, 2) ;
    margin-top:30px;
    width:250px;
    padding-left:10px;
}
.container {
    height: 250px;
    max-width: 400px;
    margin-top: 200px;
    margin-left:420px;
    padding: 20px;
    background-color:bisque;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

button {
    margin-top:2%;
    align-items: center;
    margin-left: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(255, 60, 0);
}